/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 26, 2021, 8:47:15 PM
    Author     : atef
*/

#pane{
    -fx-background-image: url("Background.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#second-pane{
    -fx-background-image: url("Backgroud2.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

#radio-button:selected .radio .dot {
    -fx-background-color: #dd4330;
    -fx-background-insets: 0;
}

#radio-button {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
}

#combo-box{
    -fx-border-color:red;
    -fx-border-style:solid;
    -fx-border-width:1;
}
#combo-box .arrow{
    -fx-background-color:#dd4330;
}
#combo-box .arrow-button{
    -fx-background-color: white;
    -fx-border-style:none;
}
#combo-box .arrow-button{
    -fx-background-color:white;
}
#combo-box .list-cell{
    -fx-background-color:white;
}
#combo-box .cell:selected {
    -fx-background-color:#dd4330;
}
#combo-box .list-cell:hover {
    -fx-background-color: #dd4330;
}

#main-title {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16pt;
}

#submain-title {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

#buttons {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    /-fx-background-radius: 8;/
    -fx-background-color: 
        /linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),/
        #dd4330;
    /#d86e3a,/
    /radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);/
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
}



#acceptbtn{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    /-fx-background-radius: 8;/
    -fx-background-color: 
        /linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),/
        #dd4330;
    /#d86e3a,/
    /radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);/
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 1.1em;
    -fx-border-radius: 50px; 
    -fx-background-radius: 50px; 

}

#acceptbtn:hover {
    -fx-background-color: #a72b1b;
    /*        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);*/
}

#acceptbtn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#acceptbtn Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}